wp-config.php
_local/*

wp-admin/
wp-content/upgrade/
wp-includes/
wp-content/uploads/*/.htaccess

sitemap.xml
sitemap.xml.gz
*.tar.gz
*.zip

index.php
license.txt
readme.html
robots.txt
wp-activate.php
wp-blog-header.php
wp-comments-post.php
wp-config-sample.php
wp-config*
wp-cron.php
wp-links-opml.php
wp-load.php
wp-login.php
wp-mail.php
wp-settings.php
wp-signup.php
wp-trackback.php
xmlrpc.php

